* {
    margin: 0;
    padding: 0;
    text-decoration:none;

}
body{
    font-family: 'Nunito';
    font-style: normal;
    background-color: gray;
    
}
header{
    position:fixed;
    background-color:darkgrey;
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}


.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.header-nav {
    list-style: none;
    display: flex;
    gap: 90px;
}

.header-nav-item{
    color: #FFF;
    font-family: Merriweather;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.27%; 
}

h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.27%; 
}
.prewie__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 15vh;
    padding-bottom: 52px;
}
.prewie__text{
    color: #FFF;
    font-family: Merriweather;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.27%; 
    
}

.prewie__number{
    display: block;
    color: #FFF;
    font-family: Merriweather;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.27%; 
    padding-top: 1vh;
}

.prewie{
    background-image: url(foto_orenburg_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
}

.menu__foods{
    display: flex;
}

.menus{
    text-align: center;
    margin-top: 71px;
    justify-content: center;
    align-items: center;
    margin-bottom: 138px;
    padding: 0 0% 0;
}

.menu__foods{
    display: flex;
    gap: 24px;
    list-style: none;
    margin-top: 26px;
    flex-wrap: wrap;
}

.info{
    max-width: 1200px;
}

.everest{
    color: var(--333333, #333);
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 144.555%; /* 69.386px */
}

h2{
    color: white;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 144.555%; /* 69.386px */
    
    
}

.text_inf{
    
    
}



footer{
    text-align: center;
    background-color: #333;
    display: flex;
}

.info_me{
    padding-top: 7%;
    padding-bottom: 10%;
}

.contact{
    padding-bottom: 8%;
}

.info_me_2{
    color: var(--White, #FFF);
    font-family: Merriweather;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: 144.555%; /* 69.386px */
}

.info_me_1{
    color: var(--White, #FFF);
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 144.555%; /* 69.386px */
}

.info_me_3{
    color: var(--White, #FFF);
    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 144.555%; /* 69.386px */
}



































